{{- if eq .chezmoi.os "darwin" -}}
#!/bin/sh

defaults -currentHost write -globalDomain NSStatusItemSpacing -int 8
defaults -currentHost write -globalDomain NSStatusItemSelectionPadding -int 8
{{- end }}
