#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
brew uninstall alfred
brew uninstall coreutils
brew uninstal arc
brew uninstal proton-mail-bridge
brew uninstal protonvpn

brew reinstall git chezmoi
{{- end -}}
