#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
brew uninstall -q --zap alfred 2>/dev/null || true
brew uninstall -q --zap coreutils 2>/dev/null || true
brew uninstall -q --zap arc 2>/dev/null || true
brew uninstall -q --zap proton-mail-bridge 2>/dev/null || true
brew uninstall -q --zap protonvpn 2>/dev/null || true
brew uninstall -q --zap kiro 2>/dev/null || true
brew uninstall -q --zap antigravity 2>/dev/null || true
brew uninstall -q --zap podman-desktop 2>/dev/null || true
brew uninstall -q --zap fnm 2>/dev/null || true
brew uninstall -q --zap rancher 2>/dev/null || true

brew reinstall git chezmoi
{{- end -}}
