#!/bin/bash
{{ if eq .chezmoi.os "darwin" -}}
    brew install antigen
{{- else if eq .chezmoi.os "linux" -}}
    if [ ! -f {{ .chezmoi.homeDir }}/.antigen.zsh ]; then
        wget -qO {{ .chezmoi.homeDir }}/.antigen.zsh http://git.io/antigen
    fi
{{- end }}