#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
brew install tailscale pdf-expert iterm2 setapp zoom 1password alfred google-chrome protonvpn protonmail-bridge obsidian starship
{{ if .work }}
brew install awscli docker-compose gh
{{- end }}
{{ if .signGitCommits }}
brew install gnupg pinentry-mac
{{- end }}
{{ else if (and (eq .chezmoi.os "linux") (not .codespaces)) -}}
  cargo install starship --locked
{{- end -}}
