#!/bin/sh

{{ if eq .chezmoi.os "darwin" -}}
brew uninstall \
  alfred \
  arc \
  coreutils \
  proton-mail-bridge \
  protonvpn

brew install \
  1password \
  1password-cli \
  affinity-photo \
  font-jetbrains-mono-nerd-font \
  fzf \
  ghostty \
  git \
  gnu-which \
  grep \
  latest \
  legcord \
  microsoft-office \
  neovim \
  obsidian \
  openssh \
  pdf-expert \
  private-internet-access \
  raycast \
  setapp \
  starship \
  uutils-coreutils \
  uutils-diffutils \
  vivaldi \
  wget \
  zoxide

{{ if .devMachine }}
brew install \
  awscli \
  bat \
  fnm \
  gh \
  jetbrains-toolbox\
  jq \
  pipx \
  ripgrep
  yamllink

  {{ if not .work }}
  brew install orbstack
  {{ end }}
{{- end }}

{{ if .signGitCommits }}
brew install \
  gnupg \
  pinentry-mac
{{- end }}

{{ if .gaming }}
brew install \
  steam
{{- end }}

{{- end -}}
