{{- $interactive := stdinIsATTY -}}

{{- $name := "Your Name" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- $email := "your@email.com" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- $work := false }}
{{- if hasKey . "work" -}}
{{-   $work = .work -}}
{{- else if $interactive -}}
{{-   $work = promptBool "Is this a work machine?" $work -}}
{{- end -}}

sourceDir: "{{ .chezmoi.sourceDir }}"
encryption: "age"

age:
  identity: "~/.cz-key"
  recipient: "age1ny6myjsf26xfuw08tqjyepghfz5688j3apkvx87kncp5m50drg7qvdfjar"

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  work: {{ $work }}v
