{{- $interactive := stdinIsATTY -}}
{{- $codespaces:= env "CODESPACES" | not | not -}}

{{- $name := "Martin Meredith" -}}
{{- if hasKey . "name" -}}
{{-   $name = .name -}}
{{- else if $interactive -}}
{{-   $name = promptString "name" $name -}}
{{- end -}}

{{- $email := "martin@sourceguru.net" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else if $interactive -}}
{{-   $email = promptString "email" $email -}}
{{- end -}}

{{- $work := false }}
{{- if hasKey . "work" -}}
{{-   $work = .work -}}
{{- else if $interactive -}}
{{-   $work = promptBool "Is this a work machine?" $work -}}
{{- end -}}

{{- $gpgSign := false -}}
{{- if hasKey . "gpgSign" -}}
{{-   $gpgSign = .gpgSign -}}
{{- else if $interactive -}}
{{-   $gpgSign = promptBool "Sign Git Commits?" $gpgSign -}}
{{- end -}}

progress: true

sourceDir: "{{ .chezmoi.sourceDir }}"
encryption: "age"

age:
  identity: "~/.cz-key"
  recipient: "age1ny6myjsf26xfuw08tqjyepghfz5688j3apkvx87kncp5m50drg7qvdfjar"

data:
  name: "{{ $name }}"
  email: "{{ $email }}"
  work: {{ $work }}
  codespaces = {{ $codespaces }}
  signGitCommits: {{ $gpgSign }}
  signingKey: 065BFD16E4BFB184D73F768C2AFBD67FD133AC6E
