antigen use oh-my-zsh

{{ if eq .chezmoi.os "darwin" -}}
antigen bundle macos
{{- end }}

antigen bundle chrissicool/zsh-256color
antigen bundle ael-code/zsh-colored-man-pages
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-completions
antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle eventi/noreallyjustfuckingstopalready
antigen bundle laggardkernel/zsh-thefuck
antigen bundle zpm-zsh/undollar

antigen bundle aws
antigen bundle brew
antigen bundle command-not-found
antigen bundle common-aliases
antigen bundle compleat
antigen bundle docker
antigen bundle encode64
antigen bundle git
antigen bundle git-extras
antigen bundle gitfast
antigen bundle github
antigen bundle gpg-agent
antigen bundle iterm2
antigen bundle perms
antigen bundle sudo
antigen bundle terraform
antigen bundle yarn

antigen theme terminalparty

antigen apply
