[user]
    name = {{ .name | quote  }}
    email = {{ .email | quote }}
{{- if and (hasKey . "git")  (hasKey .git "signingKey") }}
    signingkey = {{ .git.signingKey }}
{{- end }}
[github]
    user = Mezzle
[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[alias]
    co = checkout
    ff = pull --ff-only
    st = status
[push]
    default = simple
[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
[rerere]
    enabled = true
[init]
    defaultBranch = main
[pull]
	ff = only
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
{{- if hasKey . "git" -}}
{{ if hasKey .git "signingKey" }}
[commit]
    gpgsign = true
{{ end }}
{{- end }}
