[user]
  name = {{ .name | quote  }}
  email = {{ .email | quote }}
{{- if .signGitCommits }}
  signingkey = {{ .signingKey }}
{{- end }}
[github]
  user = Mezzle
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[alias]
  co = checkout
  ff = pull --ff-only
  st = status
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
[rerere]
  enabled = true
[init]
  defaultBranch = main
[pull]
  ff = only
[url "ssh://git@github.com/Mezzle"]
  insteadOf = https://github.com/Mezzle
[url "ssh://git@github.com/sane-defaults"]
  insteadOf = https://github.com/sane-defaults
[url "ssh://git@github.com/Debian"]
  insteadOf = https://github.com/Debian
[url "ssh://git@github.com/Flamboyant-Potato"]
  insteadOf = https://github.com/Flamboyant-Potato
[url "ssh://git@github.com/GamerPowered"]
  insteadOf = https://github.com/GamerPowered
[url "ssh://git@github.com/Majimez"]
  insteadOf = https://github.com/Majimez
{{- if .signGitCommits }}
[commit]
  gpgsign = true
{{- end }}
