CanonicalizeHostname yes
CanonicalDomains corgi-justice.ts.net
CanonicalizeMaxDots 0
CanonicalizeFallbackLocal yes

Host rustdesk.corgi-justice.ts.net
  User ubuntu

Host pihole.corgi-justice.ts.net
  User pihole

Host powder.corgi-justice.ts.net
  User ubuntu

Host *.corgi-justice.ts.net
  User mez
